.tooltip-top {
  position: relative;
  display: inline-block;

}

.tooltip-top .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: #111;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-top .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}

.tooltip-top:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
