@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #364a15;
  --color-lightgreen: #61CE70;
  --color-gray: #e4e4d9;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-2: #919c93;
  --color-yellow: #be9103;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
